<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO APP</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    <h1 id="heading">My Todolist!</h1>
    <div>
        <input id="owner" type="text" placeholder="Who is doing it?">
        <input id="task" type="text" placeholder="What is being done?">
        <button id="add">Add!</button>  
    </div>
    
    <ul id="todoList">
        <li id="loading">Loading...</li>
    </ul>
    
    <script src="/static/main.js"></script>
</body>
</html>